extends ../layout

block content
  if cookieId
    include ../partials/header
    main
      .container
        h1 Categories
        for category in categories
          a.category(href=('/categories/' +  category._id)) !{category.name}
  else
    .navbar.navbar-default
      a.btn.btn-default.navbar-btn.pull-right(data-toggle='modal' data-target='#signupModal') Sign-Up
      #signupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signupLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4#signupLabel.modal-title Sign-Up
              if errors
                for error in errors
                  p.errors #{error}
            .modal-body
              form(action='/signup' method='post')
                .form-group
                  label.control-label(for='name') Name: 
                  input.form-control(type='text' name='name' id='name' value=name)
                .form-group
                  label.control-label(for='password') Password: 
                  input.form-control(type='password' name='password' id='password')
                .form-group
                  label.control-label(for='confirmation') Confirm Password: 
                  input.form-control(type='password' name='confirmation' id='confirmation')
                .form-group
                input.btn.btn-primary(type='submit' value='Sign-Up')
                button#noborder.btn.btn-default(type='button' data-dismiss='modal') Close
      a.btn.btn-primary.navbar-btn.pull-right(data-toggle='modal' data-target='#loginModal') Login
      #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4#loginLabel.modal-title Login
              if errors
                for error in errors
                  p.errors #{error}
            .modal-body
              form(action='/login' method='post')
                .form-group
                  label.control-label(for='name') Name: 
                  input.form-control(type='text' name='name' id='name' value=name)
                .form-group
                  label.control-label(for='password') Password: 
                  input.form-control(type='password' name='password' id='password')
                input.btn.btn-primary(type='submit' value='Login')
                button#noborder.btn.btn-default(type='button', data-dismiss='modal') Close

    main
      .container
        .page-header
          h1.text-center.alegreyaText Welcome To Product Tracker
        .page-body
          h4.text-center.josefinText The free, simple, and quick way to keep track of your product warranties.
          h4.text-center.josefinText Sign up to start saving money today.
      .container
        .row
          .col-md-4
            .wrapper
              svg(height='60' width='320')
                rect.shape(height='60' width='320')
              .hoverbox
                .text Free
                #hideText No hidden costs. No credit cards required. 100% Free.
          .col-md-4
            .wrapper
              svg(height='60' width='320')
                rect.shape(height='60' width='320')
              .hoverbox
                .text Simple
                #hideText No ads. No jumping through hoops. Simple warranty tracking.
          .col-md-4
            .wrapper
              svg(height='60' width='320')
                rect.shape(height='60' width='320')
              .hoverbox
                .text Money-Saving
                #hideText One place that stores all your warranty data. Get your money back or product serviced BEFORE it expires.
