extends ../layout

block content
  include ../partials/header
  main
    .container
      h1.text-center.alegreyaText Edit 
        span
          !{product.name}
      .errors
      form.josefinText(action='/users/' + cookieId + '/products/' + product._id + '/edit' method='post')
        .form-group
          label(for='name') Product Name: 
          input.form-control(type='text' name='name' id='name' value=product.name)
        .form-group
          label(for='price') Product Price To The Nearest Dollar:
          input.form-control(type='number' name='price' id='price' value=product.price)
        p 
          label(for='product') Purchase At:  
          input.form-control(type='url' name='url' id='product' value=product.url)
        .form-group
          label(for='guarantee') Guarantee: 
          textarea.form-control(name='guarantee' id='guarantee')=product.guarantee
        .form-group
          label(for='category') Category:
          span.italic  Select at least one.
          br
          for category in categories
            a.btn.btn-default.category(class=(product.categories.indexOf(category) > -1 ? 'selected' : undefined)).category !{category} 
          input#categories(type='hidden' name='categories' value=product.categories)
        .form-group
          input#submit.btn.btn-success(type='submit' value='Update')
      a.btn.btn-danger.padbottom(href='/users/'+ cookieId + '/products/' + product._id + '/delete') Delete
      a.btn.padbottom(href='/users/'+ cookieId + '/products/' + product._id) Cancel
