extends ../layout

block content
  include ../partials/header
  main
    .container
      if product
        table#paddingtop.table.table-hover
          thead
            tr
              th Product Name
              th Product Price
              th Purchase At
              th Guarantee
              th Receipt
              th Purchased
          tbody
            tr
              td=product.name
              td $
                =product.price
              td=product.store
              td=product.guarantee
              td 
                button.btn.btn-default(type='button' data-toggle='modal' data-target='#receipt') View Receipt
                #receipt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='receiptLabel')
                  .modal-dialog(role='document')
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') &times;
                        h4#receiptLabel.modal-title Receipt for 
                          span=product.name
                      .modal-body
                        img(src=product.receiptURL alt='receipt image' width='100%')
              td
                if cookieId
                  input#purchase(type='checkbox' name='purchase' checked=(purchase ? true : undefined))
                  label(for='purchase')
          a.btn.btn-primary(href='/users/'+ cookieId + '/products/' + product._id + '/edit') Edit
          a#borderwhite.btn.btn-default(href='/users/'+ cookieId + '/products') Back
      else
        a.button.submit(href='/') Back
